Requirements for Student Client

1. must be able to navigate a initialized Exam object, the exam and its sub structures are javadoced.
2. must be able to render the 7 question formats as defined in com.vasolsim.GenericUtils.QuestionType excluding TE_D_AND_D_VENN_DIAGRAM which is list but will not see support in the first release.
3. must be able to render images as resources. The images will be loaded by the Exam loader, but you will need to write a Task (fx thread) to convert the Buffered Images to FX Images. There is a support function for this in GenericUtils.
4. must have a method for grading the responses to the questions. You will to support answer checking both on a per question bases or on a one-time try exam basis
5. must have a friendly ui
6. the UI should resemble the UI of the state test as closely as possible
7. unlike the state test, this client will need a login page consisting of Name, (disabled password field for future server integration), and school id



Desired features

1. can save the progress of an exam: define an xml schema for persistent progress and be able to read and write from the schema



Future Features (possibly after the initial or secondary alpha)

1. can report statistics through email (supported by the current exam schema)
2. can support questions and answers with images as well as text (structure is in place, but not UI implemented yet)
3. can support the venn diagram question type
4. can login to a server, and pull and push exams to it (okay so I figured we'd just write a php and java api for this and they can implement it but if you're more intested in this then let me know and you can do php/tomcat dev and I can do the student client)



What you don't need to do:
1. Write an exam schema parser (I already have method stubs in GenericUtils and will write them soon)
2. Write a preloader (I have already written one)
